@model IEnumerable<INFORMATIONS.Models.Profile>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <img src="@item.Img" class="card-img-top" alt="Movie Poster">
                    @* <p class="card-text">Genre: @Html.DisplayFor(modelItem => item.Genre)</p>
                    <p class="card-text">Price: @Html.DisplayFor(modelItem => item.Price)</p> *@
                    <!-- Add a Details button -->
                    @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> *@
                    <a href="Profiles/Details/@item.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>
